{% if interests %}
<div class="detail" id="interests">
  <div class="icon"><i class="fs-lg icon-heart"></i><span class="mobile-title">{{ language.titles.interests }}</span></div>
  <div class="info">
    <h4 class="title text-uppercase">{{ language.titles.interests }}</h4>
    <div class="content">
      <ul class="list-unstyled clear-margin">
        {% for int in interests %}
        <li class="card card-nested">
          <p><strong>{{int.name }}</strong></p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
