{% if skills %}
<div class="detail" id="skills">
  <div class="icon"><i class="fs-lg icon-tools"></i><span class="mobile-title">{{ language.titles.skills }}</span></div>
  <div class="info">
    <h4 class="title text-uppercase">{{ language.titles.skills }}</h4>
    <div class="content">
      <ul class="list-unstyled clear-margin">
        {% for skill in skills %}
        <li class="card card-nested card-skills">
          <div class="skill-info"><strong>{{skill.name | markdown}}</strong>
            <div class="space-top labels">
              {% for keyword in skill.keywords %}
              <span class="label label-keyword">
                <p>{{keyword}}</p>
              </span>
              {% endfor %}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}
